.landmarks {
    height: 96vh;
}

#container-landmarks {
    display: flex;
    max-width: 90%;
    flex-wrap: wrap;
}

.landmark-item {
    width: 33%;


}

.landmark-img {
    width: 100%;
    height: 220px;
}